/* ALGUNOS COMANDOS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
a{
    text-decoration: none;
}

p{
    color: gray;
}

header{
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.2)),
    url(../img/fondohero.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 67vh;
}

.barrasuperior{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1050px;
}

.barrasuperior a{
    font-size: 15px;
    color: white;
}

.barrasuperior nav{
    padding: 28px 0;
}

.iconos a{
    margin-left: 25px;
}

.iconos img{
    width: 23px;
    transition: transform 0.5s ease;
}

.iconos img:hover{
    transform: scale(1.3);
}


.servicios{
    display: flex;
    justify-content: flex-end;
}

.servicios nav{
    display: flex;
    justify-content: center;
    width: 1100px;
    gap: 40px;
    margin-right: 35px;
    margin-top: 35px;
}

.servicios a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    transition: transform 0.5s ease;
}

.servicios a:hover{
    transform: scale(1.05);
}

.servicios a img{
    width: 30px;
}

.servicios .distinto{
    color: #34AFD3;
}


.titulohero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.titulohero h1{
    color: white;
    font-size: 100px;
}
/* FIN HEADER */


/* MAIN */
/* PRIMERA SECCION */
.parrafos-general{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;  
}

.parrafos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 150vh;
}

.imagen-right{
    width: 830px;
}

.imagen-top{
    width: 100px;
}

.parte-izquierda{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.parrafos .parte-izquierda{
    width: 845px;
    text-align:start;
    line-height: 40px;
}

.parte-izquierda p{
    font-size: 20px;
}

.iconos-general{
    display: flex;
    justify-content: end;
    align-items: center;
}

.apartado-iconos{
    background-color: grey;
    border-radius: 5px;
}

.apartado-iconos nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.apartado-iconos img{
    width: 35px;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
}

.apartado-iconos img:hover{
    transform: scale(1.05);
}
/* FIN PRIMERA SECCION */


/* SEGUNDA SECCION */
.grupos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    height: 50vh;
}

.titulo{
    color: black;
}

.grupos div{
    width: 480px;
    line-height: 35px;
}

.grupos p{
    text-align: center;
    font-size: 18px;
}

.grupos .titulo{
    font-size: 38px;
    margin-bottom: 5px;
}
/* FIN SEGUNDA SECCION */


/* IMAGENES DE PERSONAS */
.oficinistas{
    display: flex;
    font-size: 0;
}

.oficinistas img{
    width: 25%;
}
/* FIN */


/* COMIENZO APARTADO CON BOTON */
.accionar{
    background-image: url(../img/fondotriangulo.jpg);
    background-position: center;
    height: 68vh;
}

.accionar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.accionar h4{
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    width: 600px;
}

.accionar p{
    font-size: 20px;
}

.accionar button{
    background-color: #0EB9E7;
    color: #B7FCFF;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 1s ease, color 1s ease;
}

.accionar button:hover{
    transform: scale(1.03);
    color: white;
}
/* FIN APARTADO CON BOTON */


/* TERCERA SECCION */
.contacto{
    background-color: #22242A;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    height: 60vh;
}

.contacto section{
    width: 390px;
    margin-top: 35px;
    padding-top: 35px;
}

.contacto h5{
    color: white;
    font-size: 24px;
    padding-bottom: 15px;
}

.contacto p{
    text-align: justify;
    font-size: 19px;
    
}


.about{
    line-height: 35px;
}

.about p{
    padding-bottom: 25px;
}

.about h6{
    color: white;
    font-size: 18px;
}

.about img{
    opacity: 0.5;
    width: 30px;
}

.about .icon{
    margin-top: 15px;
    display: flex;
    gap: 25px;
}

.icon a{
    background-color: #2E2F32;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    transition: transform 1s ease, opacity 1s ease;
}

.icon img:hover{
    transform: scale(1.1);
    opacity: 1;
}



.general-recientes{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.general-recientes h6{
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.descripcion-post p{
    font-size: 15px;
}

.descripcion-post{
    margin-top: 8px;
    display: flex;
    gap: 20px;
}

.general-recientes hr{
    margin-top: 25px;
    opacity: 0.04;
}

.recent-posts img{
    width: 100px;
}


.newsletter form{
    border: 10px solid;
    border-color: #2D2E35;
    padding: 35px;
    width: 380px;
}

.newsletter p{
    height: 15vh;
}

.enviar-email{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.enviar-email input{
    color: white;
    font-size: 18px;
    background-color: #22242A;
    border: 5px solid;
    border-color: #2D2E35;
    padding: 20px;
}

.enviar-email button{
    color: #B7FCFF;
    font-size: 15px;
    background-color: #34AFD3;
    padding: 25px;
    border: none;
    cursor: pointer;
    transition: transform 1s ease, color 1s ease;
}

.enviar-email button:hover{
    transform: scale(1.03);
    color: white;
}
/* FIN TERCERA SECCION */
/* FIN MAIN */

/* FOOTER */
.pie{
    background-color: #26272E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
    height: 10vh;
}

.items{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.items a{
    color: #5c5e6c;
    transition: transform 1s ease, color 1s ease;
}

.items a:hover{
    transform: scale(1.03);
    color: white;
}

.items li{
    list-style: none;
}

.items li::after{
    content: "•";
    color: #34AFD3;
    margin-left: 10px;
}

.items li:last-child::after{
    content: "";
}
/* FIN FOOTER */